@page
@model Market.Pages.Groups.ShowGroupsModel
@{
    ViewData["Title"] = "ShowGroups";
}
<h2>Show Groups</h2>
<h3>Count: @Model.AllGroups.Count</h3>
<div class="container">
    <a class="btn btn-info" asp-page="Create">Create new Group </a>
</div>

<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Group Name</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.AllGroups)
            {
            <tr>
                <td>@group.Id</td>
                <td>@group.GroupName</td>
                <td>
                    <a asp-page="Details" asp-route-Id="@group.Id">Details</a>
                    <a asp-page="Edit" asp-route-id="@group.Id">| Edit |</a>
                    <a asp-page="Delete" asp-route-id="@group.Id">Delete</a>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>
